.top-bg {
  --gradient: linear-gradient(
    var(--gradient-direction),
    hsl(192, 100%, 67%) 0%,
    hsl(280, 87%, 65%) 100%
  );

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 300px;
  background-image: url(../img/bg-desktop-light.jpg), var(--gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .theme-dark & {
    background-image: url(../img/bg-desktop-dark.jpg), var(--gradient);
  }

  @media (max-width: $screen-sm) {
    height: 202px;
    background-image: url(../img/bg-mobile-light.jpg), var(--gradient);

    .theme-dark & {
      background-image: url(../img/bg-mobile-dark.jpg), var(--gradient);
    }
  }
}
