.hero {
  min-height: 910px;
  padding: 250px 0;
  background: var(--black) url(../img/bg/hero-bg.jpg) center / cover no-repeat;

  &__content {
    width: 490px;
    margin-left: 60px;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 25px;
  }
}
