.page-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__logo {
    flex: 0 0 50px;
  }

  &__nav {
    flex: 0 0 500px;
    margin-left: auto;
    padding: 0 15px;

    @media (max-width: $screen-md) {
      flex-basis: 10px;
    }
  }

  &__switch-lang {
    flex: 0 0 70px;

    @media (max-width: $screen-md) {
      margin-right: 30px;
    }
  }
}
