.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    padding: 9px 0;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    & path {
      fill: currentColor;
      transition: fill var(--transition);
    }

    &:hover path,
    &:focus path {
      fill: var(--link-color-hover);
    }

    &:active path {
      fill: var(--link-color-active);
    }
  }
}
